body{
    background-color: #000;
    margin: 0;
    padding: 0;
}


body.history,
/*body.history-explanatory-notes,*/
/*body.history-installation-elements,*/
body.avatar-purgatory
body.credits{
    background: url(../img/BG_zkm2.gif) repeat repeat #000;
}
/*body.avatar-purgatory
{
    background: url(../img/m.purg1.red.jpg) no-repeat center center #000;
}*/

ul{
    padding: 0;
}

li{
    list-style: none;
}

hr{
    height:7px;
    width: 100%;
    box-sizing: border-box;
    border: 1.5px solid rgb(187, 170, 144);
}

h1{
    font-weight: bold;
    font-size: 16px;
    color: rgb(187, 170, 144);
}
h2{
    font-weight: bold;
    font-size: 14px;
    color: rgb(187, 170, 144);
}

.page-image{
    margin-left: 150px;
    margin-bottom: 20px;
}


.left{
    float: left;
}
.right{
    float: right;
}
.container{
    display: block;
    margin: 50px auto;
    width: 750px;
}
.container > *:last-child{
    margin-bottom: 50px;
}
.content{
    display: block;
    width: 100%;
}

.container-nav-left{

}
.container-nav-left .nav{
    width: 150px;
    float: left;
}
.container-nav-left .content{
    width: 600px;
    float: right;
    overflow: hidden;
}


.text-center{
    text-align: center;
}
.text-bold{
    font-weight: 700;
}

.text-std{
    color: rgb(187, 170, 144);
    font-size: 13px;
    line-height: 18px;
}


.spinner{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../img/ajax-loader.gif) no-repeat center center transparent;
    z-index: 5000;
}
.link-std,
.link-std:active,
.link-std:visited{
    color: rgb(187, 170, 144);
}

.link-blue,
.link-blue:visited{
    color: rgb(48, 144, 187);
}
.link-blue:hover{
    color: rgb(144, 170, 48);
}

/** index.blade.php **/
#index-banner{
    display: block;
    width: 456px;
    height: 247px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -247px;
    margin-top: -123px;
    padding-bottom: 30px;
}


/** welcome.blade.php **/
#webcam-view{
    position: relative;
    display: block;
    float: right;
    width: 600px;
    height: 600px;
}
#webcam-container{
    position: absolute;
    width: 587px;
    height: 440px;
    top: 90px;
    left: 7px;
    z-index: 200;
    overflow: hidden;
}
#webcam-masc-container{
    position: absolute;
    width: 600px;
    height: 600px;
    top: 0;
    left: 0;
    z-index: 400;
    overflow: hidden;
}
.webcam-selector-container{
    position: absolute;
    top: 20px;
    left:50px;
    z-index: 1000;
}
.webcam-selector-container img:hover{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
}
.webcam-active{
    -webkit-box-shadow: 0px 0px 18px 5px rgb(72, 228, 255);
    -moz-box-shadow: 0px 0px 18px 5px rgba(72, 228, 255, 0.75);
    box-shadow: 0px 0px 18px 5px rgba(72, 228, 255, 0.75);
}
.webcam-selector:not(:first-child){
    margin-left: 195px;
}
#webcam-control-container{
    position: absolute;
    top: 300px;
}
.webcam-control-arrow{
    opacity: 0.75;
}
.webcam-control-arrow:hover{
    opacity: 1;
}
.webcam-control-arrow:not(:first-child){
    margin-left:499px
}
.purgatory-avatar-box{
    display: block;
    float: left;
    box-sizing: border-box;
    width: 190px;
    height: 190px;
    padding: 5px;
    background-size: cover;
    margin-right: 10px;
    margin-bottom: 10px;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

#purgatory_canvas_container{
    position: relative;
    width: 600px;
    height: 400px;
}


#museum_canvas_container{
    position: relative;
    width: 600px;
    height: 400px;
}
#tooltip-text{
    display: none;
}
#avatar-input-form-controls{
    margin-bottom: 50px;
}
#avatar-input-form-controls > *{
    display: block;
    margin: 5px auto 0 auto;
    color: gray;
    font-size: 16px;
}
#avatar-input-form-controls input{
    color: black;
}
#avatar-input-form-avatars .avatar-input-form-avatars-item{
    width: 140px;
    margin: 10px auto 0 auto;
}
#avatar-input-form-avatars input{
    margin-right: 30px;
}
#avatar-input-form-avatars img{
    vertical-align: middle;
    width: 80px;
}

form#archive-post-avatar-id-form > *{
    display: block;
    color: #000;
}
form#archive-post-avatar-id-form > label{
    color: #FFF;
}



#purgatory_canvas_fullscreen_container{
    width: 1920px;
    height: 1080px;
}

#museum_canvas_fullscreen_container,
body.avatar-museum-local{
    cursor: none;
}
#museum_canvas_fullscreen_container{
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    overflow: hidden;
    cursor: none;
}
#press-button-message{
    display: none;
    height: 52px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    margin-top: -26px;
    z-index: 5000;
}
#press-button-message h1 {
    font-size: 48px;
    line-height: 52px;
    text-shadow: 2px 2px #333333;
}
